<div>
    <section class="content">
        <div class="row " style="margin-bottom: 60px; margin-left: 10px; margin-top: 10px">
            <div class="btn-group dropdown col-md-3 pull-left" dropdown>
                <button type="button" class="btn btn-warning btn-flat">Create New Task</button>
                <a href="" type="button" class="btn btn-warning btn-flat dropdown-toggle"
                   dropdown-toggle aria-expanded="false"> <span class="fa fa-caret-down"></span></a>
                <ul class="dropdown-menu">
                    <!--<li ng-repeat="tasktype in tasktypes"><a ui-sref="newTask({ taskType: tasktype.name })">{{tasktype.name}}</a><li>-->
                    <li ng-repeat="tasktype in tasktypes"><a ng-click="setPage('NewTaskForm', tasktype)">{{tasktype.name}}</a>
                    <li>
                </ul>
            </div>
            <div class="btn-group col-md-2" data-toggle-name="radius_options"
                 data-toggle="buttons-radio">
                <button type="button" value="detail" data-toggle="button" class="btn btn-default" ng-click="switchView('detail')">Detail</button>
                <button type="button" value="calendar" data-toggle="button" class="btn btn-default" ng-click="switchView('calendar')">Calendar</button>
            </div>
            <div class="pull-right col-md-6">
                <div class="progress-group">
                    <span class="progress-text">Total {{stats.totalTasks}} tasks/{{stats.totalExecution}} Execution/{{stats.passExecution}} Success/{{stats.failExecution}} Failed</span>
                    <!--<span class="progress-number"><b>160</b>/200</span>-->

                    <div class="progress sm">
                        <div class="progress-bar progress-bar-green" style="width: {{stats.passPer}}%"></div>
                        <div class="progress-bar progress-bar-danger" style="width: {{stats.failPer}}%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" ng-show="view == 'detail'">
            <div class="taskgroup">
                <div ng-repeat="task in tasks" ng-class="task.type" class="animated bounceInDown">
                    <div class="col-md-4">
                        <div class="box"
                             ng-class="{'box-success': task.lastExecutionStatus == 'EXECUTED', 'box-danger': task.lastExecutionStatus == 'FAILED', 'box-default': task.lastExecutionStatus == 'NOT_SCHEDULED', 'box-default': task.lastExecutionStatus == 'NOT_SCHEDULED'}">
                            <div class="box-header with-border">
                                <h3 class="box-title"><a href="" ng-click="setDetailPage(task.taskType, task.id)">{{task.name}}</a>
                                </h3>

                                <div class="box-tools pull-right">
                                    <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>-->
                                    <!--</button>-->
                                    <!--<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="chart-responsive">
                                                <canvas id="doughnut" class="chart chart-doughnut"
                                                        chart-data="task.runData" chart-labels="labels"
                                                        chart-colours="colors">
                                                </canvas>
                                            </div>
                                            <!-- ./chart-responsive -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-md-6">
                                            <div><strong>Type:</strong> {{task.taskType}}</div>
                                            <div><strong>Total Run:</strong> {{task.totalRun}}</div>
                                            <div><strong>Last Run:</strong> {{task.lastExecutionTime}}</div>
                                            <div ng-show="task.nextRun.length > 0"><strong>Next Run:</strong> {{task.nextRun}}</div>
                                            <!--<ul>-->
                                            <!--<li><strong>Type:</strong> Rest</li>-->
                                            <!--<li><strong>Last Execution:</strong> Rest</li>-->
                                            <!--<li><strong>Type:</strong> Rest</li>-->
                                            <!--</ul>-->
                                            <div style="margin-top: 10px">
                                                <switch name="onOff" ng-model="task.active" on="true"
                                                        off="false" ng-change="taskActiveFlag(task.id, task.active)"></switch>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container" ng-show="view == 'calendar'">
            <div ui-calendar ng-model="eventSources"></div>
        </div>

    </section>

</div>