<div class="form-group">
    <label class="control-label col-xs-2">Host</label>

    <div class="col-xs-10">
        <p class="form-control-static">{{taskDetail.runInfo.hostIP}}</p>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-2">Username</label>

    <div class="col-xs-10">
        <p class="form-control-static">{{taskDetail.runInfo.username}}</p>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-2">Command</label>

    <div class="col-xs-10">
        <p class="form-control-static">{{taskDetail.runInfo.command}}</p>
    </div>
</div>

