<div class="form-group" ng-class="{ 'has-error': formData.hostIP.$invalid }">
    <label>Host<span class="required">*</span></label>
    <input type="text" ng-model="formData.hostIP" class="form-control"
           placeholder="10.11.23.12" required>
</div>
<div class="form-group" ng-class="{ 'has-error': formData.username.$invalid }">
    <label>User Name<span class="required">*</span></label>
    <input type="text" ng-model="formData.username" class="form-control"
           placeholder="root" required>
</div>
<div class="form-group" ng-class="{ 'has-error': formData.password.$invalid }">
    <label>Password<span class="required">*</span></label>
    <input type="password" ng-model="formData.password" class="form-control"
           placeholder="" required>
</div>
<div class="form-group" ng-class="{ 'has-error': formData.command.$invalid }">
    <label>Command<span class="required">*</span></label>
    <textarea class="form-control" ng-model="formData.command" rows="3"
              placeholder="Enter Command" required></textarea>
</div>