<div class="content container">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">{{taskType}}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form role="form">
                <!-- text input -->
                <div class="form-group">
                    <label>Text</label>
                    <input type="text" class="form-control" placeholder="Enter ...">
                </div>
                <div class="form-group">
                    <label>Text Disabled</label>
                    <input type="text" class="form-control" placeholder="Enter ..." disabled="">
                </div>

                <!-- textarea -->
                <div class="form-group">
                    <label>Textarea</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                </div>
                <div class="form-group">
                    <label>Textarea Disabled</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..."
                              disabled=""></textarea>
                </div>


            </form>
        </div>
        <!-- /.box-body -->
    </div>
</div>