<div class="form-group">
    <label class="control-label col-xs-2">URL</label>

    <div class="col-xs-10">
        <p class="form-control-static">{{taskDetail.runInfo.url}}</p>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-2">Method</label>

    <div class="col-xs-10">
        <p class="form-control-static">{{taskDetail.runInfo.method}}</p>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-xs-2">Method</label>

    <div class="col-xs-10">
        <p class="form-control-static">{{taskDetail.runInfo.payload}}</p>
    </div>
</div>

